/* @import './reset.css'; */


html,
body {
  padding: 0;
  margin: 0;
  font-family: "inter", "Rubik", "Noto Sans CJK", "微軟正黑體", "Segoe UI", Helvetica,
      "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@tailwind base;

@layer base {
  html {
    font-family: "inter", "Rubik", "Noto Sans CJK", "微軟正黑體", "Segoe UI", Helvetica,
      "Arial", sans-serif;
  }
}